* {
    margin: 0;
    padding: 0;
}

#game-cont {
    text-align: center;
    padding-top: 70px;
}

#game-arena {
    width: 600px;
    height: 500px;
    background-color: green;
}

.grid-cell {
    border: 1px solid black;
}